



/* This is my first proper css file */

.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 45ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


body{
    background-color: rgb(233, 233, 233);
}

h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
}

.chart{
    background-color: white;
    width: 330px;
    padding: 10px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

