/* ECON30006: Data Visualisation Portfolio CSS style file */
/* This is my first proper css file */

/*-----------------------------------Fonts-------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-color: #ccdbfd;
    max-width: auto;
    margin: auto;
    text-align: center;
    width: 100%;
}
   
.bodyText {
  color: black;
  margin-bottom: 22px;
  margin-top: 50px;
  font-family: 'Railway', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}

.pagecontainer {
    display: grid;
}

/*-----------------------------------Headings-------------------------------------*/

h1 {
    color: rgb(0, 51, 153); 
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: rgb(0, 102, 102); 
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

h3 {
    color: rgb(0, 102, 102); 
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
/*-----------------------------------Charts-------------------------------------*/
.chart {
	background-color: white;
	width: auto;
	align-items: center;
    	justify-content: center;
  	position:static;
	margin-left: 10px;
	margin-top: 10px;
	padding: 5px;
	border-width: 3px;
  	border-style: solid;
  	border-radius: 15px;
  	border-color: rgb(0, 102, 102);
	flex-flow: row wrap;
}


.chart:hover {
  	transform: scale(1.035, 1.035);
 	transition: 0.8s;
  
}


/*-----------------------------------Buttons-------------------------------------*/
.buttons {
  display:flex;
  justify-content:center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $green;
  border-radius: 0.6em;
  color: $green;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 12px 12px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Railway', sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
	  
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
  box-shadow: 0 0 40px 40px $red inset;
  }
}







