/* ECON30006: Data Visualisation Portfolio CSS style file */

/*-----------------------------------Fonts-------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-color: rgb(233, 241, 247);
    max-width: auto;
    margin: auto;
    text-align: center;
    width: 100%;
}
   
.bodyText {
  color: black;
  margin-bottom: 22px;
  margin-top: 50px;
  font-family: 'Railway', sans-serif;
  font-size: 21px;
  font-weight: lighter;
  text-align: center;
}


.pagecontainer {
    display: grid;
}

.ncontainer {
	align-content: center;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	position: relative;
  	left: 120px;
  	width: 80%;
	margin-top: 20%
	margin-bottom: 20%
  	text-align: center;
  	border: 3px solid rgb(255, 255, 255);
  	border-top: none;
  	border-left: none;
  	border-right: none;
	padding: 30px;

}
/*-----------------------------------Navigation Bar-------------------------------------*/

/* Collapsing Navbar Styles */



/*-----------------------------------Headings-------------------------------------*/

h1 {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
}

h3 {
    color: rgb(0, 102, 102);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

/*-----------------------------------Charts-------------------------------------*/
.chart {
	background-color: white;
	width: auto;
	align-items: center;
    	justify-content: center;
  	position:static;
	margin-left: 10px;
	margin-top: 10px;
	padding: 5px;
	border-width: 3px;
  	border-style: solid;
  	border-radius: 15px;
  	border-color: rgb(0, 102, 102);
	flex-flow: row wrap;
}


.chart:hover {
  	transform: scale(1.035, 1.035);
 	transition: 0.8s;
  
}

/*-----------------------------------Buttons-------------------------------------*/

    
    .button, .buttonActive {
      border: 2px solid rgb(103, 114, 122);
      color: rgb(250, 251, 252);
      font-family: 'Raleway', sans-serif;
      line-height: 16px;
      font-weight: 600;
      border-radius: 350px;
      box-sizing: content-box;
      align-items: flex-start;
      display: inline-block;
      font-size: 18px; 
      margin: 1px 2px 1px 2px;
      text-decoration: none;
      max-width: 100px;
      outline-offset: 2px;
      overflow: hidden;
      padding: 5px 12px;
      text-align: center;
      text-overflow: ellipsis;
      transition: border-color,background-color .3s ease;
     }
    
    .buttonActive {
      color: #2d1247;
      color: rgb(253, 249, 252) !important;
      background-color: rgb(160, 166, 173) !important;
    }
    
    @-webkit-keyframes edit {
      0% {
        -webkit-transform: rotate(-12deg);
        transform: rotate(-12deg);
      }
    
      8% {
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg);
      }
    
      10% {
        -webkit-transform: rotate(24deg);
        transform: rotate(24deg);
      }
    
      18% {
        -webkit-transform: rotate(-24deg);
        transform: rotate(-24deg);
      }
    
      20% {
        -webkit-transform: rotate(-24deg);
        transform: rotate(-24deg);
      }
    
      28% {
        -webkit-transform: rotate(24deg);
        transform: rotate(24deg);
      }
    
      30% {
        -webkit-transform: rotate(24deg);
        transform: rotate(24deg);
      }
    
      38% {
        -webkit-transform: rotate(-24deg);
        transform: rotate(-24deg);
      }
    
      40% {
        -webkit-transform: rotate(-24deg);
        transform: rotate(-24deg);
      }
    
      48% {
        -webkit-transform: rotate(24deg);
        transform: rotate(24deg);
      }
    
      50% {
        -webkit-transform: rotate(24deg);
        transform: rotate(24deg);
      }
    
      58% {
        -webkit-transform: rotate(-24deg);
        transform: rotate(-24deg);
      }
    
      60% {
        -webkit-transform: rotate(-24deg);
        transform: rotate(-24deg);
      }
    
      68% {
        -webkit-transform: rotate(24deg);
        transform: rotate(24deg);
      }
    
      75% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }
    
    @keyframes edit {
      0% {
        -webkit-transform: rotate(-12deg);
        -ms-transform: rotate(-12deg);
        transform: rotate(-12deg);
      }
    
      8% {
        -webkit-transform: rotate(12deg);
        -ms-transform: rotate(12deg);
        transform: rotate(12deg);
      }
    
      10% {
        -webkit-transform: rotate(24deg);
        -ms-transform: rotate(24deg);
        transform: rotate(24deg);
      }
    
      18% {
        -webkit-transform: rotate(-24deg);
        -ms-transform: rotate(-24deg);
        transform: rotate(-24deg);
      }
    
      20% {
        -webkit-transform: rotate(-24deg);
        -ms-transform: rotate(-24deg);
        transform: rotate(-24deg);
      }
    
      28% {
        -webkit-transform: rotate(24deg);
        -ms-transform: rotate(24deg);
        transform: rotate(24deg);
      }
    
      30% {
        -webkit-transform: rotate(24deg);
        -ms-transform: rotate(24deg);
        transform: rotate(24deg);
      }
    
      38% {
        -webkit-transform: rotate(-24deg);
        -ms-transform: rotate(-24deg);
        transform: rotate(-24deg);
      }
    
      40% {
        -webkit-transform: rotate(-24deg);
        -ms-transform: rotate(-24deg);
        transform: rotate(-24deg);
      }
    
      48% {
        -webkit-transform: rotate(24deg);
        -ms-transform: rotate(24deg);
        transform: rotate(24deg);
      }
    
      50% {
        -webkit-transform: rotate(24deg);
        -ms-transform: rotate(24deg);
        transform: rotate(24deg);
      }
    
      58% {
        -webkit-transform: rotate(-24deg);
        -ms-transform: rotate(-24deg);
        transform: rotate(-24deg);
      }
    
      60% {
        -webkit-transform: rotate(-24deg);
        -ms-transform: rotate(-24deg);
        transform: rotate(-24deg);
      }
    
      68% {
        -webkit-transform: rotate(24deg);
        -ms-transform: rotate(24deg);
        transform: rotate(24deg);
      }
    
      75% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }

    .faa-home.animated,
      .faa-home.animated-hover:hover,
      .faa-parent.animated-hover:hover > .faa-home {
        -webkit-animation: edit 5s ease infinite;
        animation: edit 5s ease infinite;
      }

    .faa-edit.animated,
    .faa-edit.animated-hover:hover,
    .faa-parent.animated-hover:hover > .faa-edit {
      -webkit-animation: edit 5s ease infinite;
      animation: edit 5s ease infinite;
    }
    
    .faa-github.animated,
    .faa-github.animated-hover:hover,
    .faa-parent.animated-hover:hover > .faa-github {
      -webkit-animation: edit 5s ease infinite;
      animation: edit 5s ease infinite;
    }
    
    .faa-book.animated,
    .faa-book.animated-hover:hover,
    .faa-parent.animated-hover:hover > .faa-book {
      -webkit-animation: edit 5s ease infinite;
      animation: edit 5s ease infinite;
    }

    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 120px;
      height: 120px;
    }
    
    #one {
      position: absolute;
      border-radius: 50%;
      background: #FFFFFF;
      opacity: .0;
      animation: loading 1.4s .65s infinite;
      height: 20px;
      width: 20px;
    }
    
    #two {
      position: absolute;
      border-radius: 50%;
      background: #470447;
      opacity: .0;
      animation: loading 1.4s infinite;
      height: 20px;
      width: 20px;
    }
    

