/* ECON30006: Data Visualisation Portfolio CSS style file */

/*-----------------------------------Fonts-------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-color: rgb(233, 241, 247);
    margin: 0;
    text-align: center;
    padding: 0;
    min-height: 100vh;
}
   
.bodyText {
  color: black;
  margin-bottom: 22px;
  margin-top: 50px;
  font-family: 'Railway', sans-serif;
  font-size: 21px;
  font-weight: lighter;
  text-align: center;
}


.pagecontainer {
    display: grid;
}

.ncontainer {
	align-content: center;
	display: flow-root;
      position: relative;
      text-align: center;
      border: 3px solid rgb(255, 255, 255);
      border-top:none;
      border-left: none;
      border-right: none;
    }
  	
/*-----------------------------------Navigation Bar-------------------------------------*/

/* Collapsing Navbar Styles */



/*-----------------------------------Headings-------------------------------------*/

h1 {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: black;
  font-size: 25px;
  margin-top: -35px;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
}
 }

h3 {
    color: black;
  font-size: 35px;
  margin-top: -35px;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
 }

/*-----------------------------------Charts-------------------------------------*/
.chart {
  background-color: white;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 25px;
  text-align: center;
  padding: 20px;
  transition: border-radius 400ms, flex-grow 1000ms;
  width: 45%;
  min-width: 350px;
  transition: transform 1000ms;
  
}


.chart:hover {
  	transform: scale(1.035, 1.035);
 	transition: 0.8s;
  
}

/*-----------------------------------Buttons-------------------------------------*/

    .button{
	align-content: center;
	flex-flow: center;
	border-radius: 4px;
	background-color: rgb(247, 249, 250);
	border: 2px solid  rgb(10, 10, 10);
	color:  rgb(10, 10, 10);
	text-align: center;
	font-size: 15px;
	padding: 15px;
	width: 180px;
	cursor: pointer;
	margin: 5px;
	transition: color 1s;
	font-family: 'Raleway', sans-serif;
  }

  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.4s;

  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.4s;

  }

  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }

    #two {
      position: absolute;
      border-radius: 50%;
      background: #470447;
      opacity: .0;
      animation: loading 1.4s infinite;
      height: 20px;
      width: 20px;
    }
    
//*------------------------------- Mobile friendly version--------------------------------------- *//

@media only screen
and (max-device-width : 800px) { 

.nav {display: none !important;}

}

@media only screen
and (min-device-width : 800px) { 

.sectional_nav {display: none !important;}

}
