/* ECON30006: Data Visualisation Portfolio CSS style file */

/*-----------------------------------Fonts-------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-color: rgb(233, 241, 247);
    max-width: auto;
    margin: auto;
    text-align: center;
    width: 100%;
}
   
.bodyText {
  color: black;
  margin-bottom: 22px;
  margin-top: 50px;
  font-family: 'Railway', sans-serif;
  font-size: 21px;
  font-weight: lighter;
  text-align: center;
}


.pagecontainer {
    display: grid;
}

.ncontainer {
	align-content: center;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	position: relative;
  	left: 120px;
  	width: 80%;
	margin-top: 20%
	margin-bottom: 20%
  	text-align: center;
  	border: 3px solid rgb(255, 255, 255);
  	border-top: none;
  	border-left: none;
  	border-right: none;
	padding: 30px;

}
/*-----------------------------------Navigation Bar-------------------------------------*/

/* Collapsing Navbar Styles */



/*-----------------------------------Headings-------------------------------------*/

h1 {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
}

h3 {
    color: rgb(0, 102, 102);
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

/*-----------------------------------Charts-------------------------------------*/
.chart {
	background-color: white;
	width: auto;
	align-items: center;
    	justify-content: center;
  	position:static;
	margin-left: 10px;
	margin-top: 10px;
	padding: 5px;
	border-width: 3px;
  	border-style: solid;
  	border-radius: 15px;
  	border-color: rgb(0, 102, 102);
	flex-flow: row wrap;
}


.chart:hover {
  	transform: scale(1.035, 1.035);
 	transition: 0.8s;
  
}

/*-----------------------------------Buttons-------------------------------------*/

    .button{
	align-content: center;
	flex-flow: center;
	border-radius: 4px;
	background-color: rgb(247, 249, 250);
	border: 2px solid  rgb(10, 10, 10);
	color:  rgb(10, 10, 10);
	text-align: center;
	font-size: 15px;
	padding: 15px;
	width: 180px;
	cursor: pointer;
	margin: 5px;
	transition: color 1s;
	font-family: 'Raleway', sans-serif;
  }

  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.4s;

  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.4s;

  }

  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }

    #two {
      position: absolute;
      border-radius: 50%;
      background: #470447;
      opacity: .0;
      animation: loading 1.4s infinite;
      height: 20px;
      width: 20px;
    }
    

